$odd-section-back: #fff;
$even-section-back: #ebebeb;
$heading: #424242; /*rgb(66, 66, 66)*/
$text: #3b3b3b; /*rgb(59, 59, 59)*/
$icons: #cdf0f2;
$accent: #fb405a; /*rgb(251, 64, 90)*/
$accent-shadow: #dc384f; /*rgb(220, 56, 79)*/
$accent2: #04c2cd; /*rgb(4, 194, 205)*/
$form-text: #8e8686;
$horizontal-dash: #716f6f; /*rgb(113, 111, 111)*/
$shadow-center: #e4e4e4;
$modal-out-back: rgba(90, 87, 87, .75);    /*#5a5757;*/
$form-label: #757575;
